@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*=======mixin=======*/

/*====переменные====*/

/*==================*/

/*===== intro=====*/

.intro {
  max-width: 494px;
  min-height: 1074px;
  margin: 5rem auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#353a40), to(#16171b));
  background: -o-linear-gradient(top, #353a40 0%, #16171b 100%);
  background: linear-gradient(180deg, #353a40 0%, #16171b 100%);
  border-radius: 60px;
}

.intro-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
}

.btn {
  display: block;
  background: none;
  border-radius: 50%;
  font-size: inherit;
  cursor: pointer;
  border: 3px solid #282b2e;
  background: -o-linear-gradient(129.34deg, #2f353a 14.75%, #1c1f22 84.81%);
  background: linear-gradient(320.66deg, #2f353a 14.75%, #1c1f22 84.81%);
  -webkit-box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.445), -10px -15px 40px rgba(82, 89, 94, 0.5);
          box-shadow: 10px 15px 40px rgba(0, 0, 0, 0.445), -10px -15px 40px rgba(82, 89, 94, 0.5);
}

.btn-menu,
.btn-admin {
  padding: 1.4rem;
}

.btn-on,
.btn-auto,
.btn-dry,
.btn-cool,
.btn-program {
  padding: 2.2rem;
}

.btn:hover {
  background: -o-linear-gradient(129.34deg, #016bb8 14.75%, #11a8fd 84.81%);
  background: linear-gradient(320.66deg, #016bb8 14.75%, #11a8fd 84.81%);
}

.btn:active {
  border: 3px solid #356ba5;
  -webkit-box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
          box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

/*=========================*/

/*===== intro body=======*/

.intro-body {
  min-height: 931px;
  background: -webkit-gradient(linear, left top, left bottom, from(#353a40), to(#16171b));
  background: -o-linear-gradient(top, #353a40 0%, #16171b 100%);
  background: linear-gradient(180deg, #353a40 0%, #16171b 100%);
  border-radius: 60px;
  border: 2px solid #3f454b;
  padding: 0 3rem;
}

.intro-body::before {
  display: block;
  content: "";
  width: 6rem;
  height: 0.4rem;
  background-color: #17181c;
  -webkit-box-shadow: 0px 1px 4px 0px #000 25%;
          box-shadow: 0px 1px 4px 0px #000 25%;
  border-radius: 20px;
  margin: 1.2rem auto;
}

.intro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-title__info span {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 900;
  line-height: 2.8rem;
}

.intro-title__info p {
  font-size: 1.6rem;
  color: #7f8489;
  line-height: 2.1rem;
  margin-top: 0.8rem;
}

/*===============================*/

/*=====line======*/

.line {
  position: absolute;
}

.liner::before {
  position: relative;
  display: block;
  content: "";
  width: 0.2rem;
  height: 1.4rem;
  background-color: #17181c;
  border-radius: 20px;
}

.liner-1::before {
  position: relative;
  top: 320px;
  left: 65px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: #0a8ada;
  -webkit-box-shadow: 0px 0px 10px #0a8ada;
          box-shadow: 0px 0px 10px #0a8ada;
}

.liner-2::before {
  position: relative;
  top: 180px;
  left: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background-color: #0a8ada;
  -webkit-box-shadow: 0px 0px 10px #0a8ada;
          box-shadow: 0px 0px 10px #0a8ada;
}

.liner-3::before {
  position: relative;
  top: 40px;
  left: 65px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #0a8ada;
  -webkit-box-shadow: 0px 0px 10px #0a8ada;
          box-shadow: 0px 0px 10px #0a8ada;
}

.liner-4::before {
  position: relative;
  bottom: 40px;
  left: 200px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  background-color: #0a8ada;
  -webkit-box-shadow: 0px 0px 10px #0a8ada;
          box-shadow: 0px 0px 10px #0a8ada;
}

.liner-5::before {
  position: relative;
  bottom: 4px;
  left: 330px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: #0a8ada;
  -webkit-box-shadow: 0px 0px 10px #0a8ada;
          box-shadow: 0px 0px 10px #0a8ada;
}

.liner-6::before {
  position: relative;
  top: 100px;
  left: 380px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.liner-7::before {
  position: relative;
  top: 200px;
  left: 340px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*===============================*/

/*=====intro control=====*/

.intro-control {
  display: block;
  width: 22.8rem;
  height: 22.8rem;
  background: -o-linear-gradient(131.79deg, #202428 14.05%, #131314 85.29%);
  background: linear-gradient(318.21deg, #202428 14.05%, #131314 85.29%);
  -webkit-box-shadow: 20px 20px 70px #141415, -20px -20px 70px #485057;
          box-shadow: 20px 20px 70px #141415, -20px -20px 70px #485057;
  border-radius: 50%;
  margin: 3.5rem auto;
  padding: 0.5rem;
}

.intro-circle {
  position: relative;
  display: block;
  border: 56px solid #1F2124;
  border-radius: inherit;
  width: 21.8rem;
  height: 21.8rem;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 1px 3px rgba(170, 187, 222, 0.542887);
          box-shadow: inset 0px 1px 3px rgba(170, 187, 222, 0.542887);
}

.intro-semicircle {
  position: absolute;
  top: -55px;
  left: -52px;
  z-index: 1;
  -webkit-transform: rotate(7deg);
      -ms-transform: rotate(7deg);
          transform: rotate(7deg);
}

.intro-circle__info {
  position: relative;
  top: 50px;
  left: 40px;
  font-family: "Gilroy-Regular";
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.intro-circle__info span {
  font-size: 4rem;
  font-weight: 900;
}

/*===================================*/

/*========= slider number=========*/

.intro-slider__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.intro-slider__number span {
  font-size: 1.2rem;
  color: #7f8489;
}

.name {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  color: #fff;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.intro-range {
  position: relative;
  margin-bottom: 2.5rem;
}

.intro-range .bar {
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 7px;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #202226;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.75), inset -2px -2px 2px #4e5154;
  overflow: hidden;
}

.intro-range .bar .fill {
  display: block;
  width: 0;
  height: 100%;
  background-color: #11a8fd;
}

.intro-range .slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  width: 100%;
  height: 0.6rem;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}

.intro-range .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: linear-gradient(320.66deg, #141515 14.75%, #2e3236 84.81%);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.35);
  margin: 1rem 0 0 0.1rem;
}

/*==========================*/

/*=======intro footer=======*/

.intro-footer {
  text-align: center;
}

.intro-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.intro-column span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7f8489;
  line-height: 2.8rem;
}

/*===================================*/

/*======mixin======*/

/*======================================*/

.container {
  max-width: 414px;
  margin: 0 auto;
}

body {
  font-family: "Lato-Regular";
  font-size: 10px;
  background-color: #1c1e22;
}